/* login---------------------- */
.login-container {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* margin-top: 50px; */
    background: linear-gradient(#eef3fb, #e0edff);
  font-family: 'Segoe UI', sans-serif;
}

.login-box {
  background: white;
  padding: 2rem;

  width: 380px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.login-header h2 {
  color: #5b21b6;
  margin: 0.5rem 0;
}

.login-icon {
  font-size: 2.5rem;
  background: linear-gradient(to right, #7c3aed, #9333ea);
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  text-align: left;
}

form label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  font-weight: 600;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #7c3aed, #9333ea);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.demo-section {
  margin-top: 2rem;
}

.demo-section h4 {
  margin-bottom: 0.3rem;
}

.demo-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.demo-buttons button {
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #1f2937;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.demo-buttons button:hover {
  background: #374151;
}

.log-p a{
    text-decoration: none;
    color: gray;
font-size: medium;}
/* margin-bottom:10px;}




