* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;

}

.signup-container {
  max-width: 480px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 20px;
      background: linear-gradient(#eef3fb, #e0edff);
  text-align: center;
}

@media only screen and (max-width:500px){
  .signup-container{
      margin: 80px 30px;
  }
}

.logo-circle {
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 28px;
  margin: 0 auto 10px;
  color: white;
}

.app-title {
  color: #4f46e5;
  font-size: 26px;
  margin: 5px 0;
}

.subtitle {
  color: #666;
  font-size: 15px;
  margin-bottom: 20px;
}

.signup-form {
  background: #fff;
  border-radius: 12px;
  padding: 30px 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.signup-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.signup-form select,
.signup-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  outline: none;
  transition: 0.3s ease;
}

.signup-form input:focus,
.signup-form select:focus {
  border-color: #6366f1;
}

.signup-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #4f46e5, #9333ea);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.signup-form button:hover {
  opacity: 0.9;
}